<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="rutinas" href="/tabs/rutinas">
      <ion-icon aria-hidden="true" name="barbell-outline"></ion-icon>
      <ion-label>Rutinas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-ejercicio" href="/tabs/add-ejercicio">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
      <ion-label>Añadir Ejercicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracion" href="/tabs/configuracion">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
