<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Añadir ejercicio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Añadir ejercicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text>
    <h2>Nuevo ejercicio</h2>
  </ion-text>

  <ion-list>
    <ion-item>
      <ion-input
        placeholder="Nombre del ejercicio"
        labelPlacement="stacked"
        type="text"
        [(ngModel)]="nombre"
        name="nombre"
      >
        ></ion-input
      >
    </ion-item>
    <ion-item>
      <ion-input
        placeholder="Número de repeticiones"
        labelPlacement="stacked"
        type="number"
        [(ngModel)]="repeticiones"
        name="repeticiones"
      >
        ></ion-input
      >
    </ion-item>

    <ion-item>
      <ion-input
        label="Imagen"
        LabelPlacement="stacked"
        type="text"
        disabled="true"
      >
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="addEjercicio()">
    Añadir ejercicio
  </ion-button>

  <ion-text color="medium" *ngIf="mensaje">
    <p>{{ mensaje }}</p>
  </ion-text>

</ion-content>
