<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rutinas</ion-title>

    <ion-buttons slot="end" *ngIf="ejercicios.length > 0">
      <ion-button
        color="secondary"
        fill="accent"
        (click)="eliminarTodosLosEjercicios()"
      >
        <ion-icon aria-hidden="true" name="trash"></ion-icon>
        Eliminar todos
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rutinas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text class="app-section-title">
    <h2>Mis ejercicios</h2>
    <p>Lista de ejercicios registrados en la rutina.</p>
  </ion-text>

  <ion-list *ngIf="ejercicios.length > 0; else sinEjercicios">
    <ion-item
      *ngFor="let ejercicio of ejercicios"
      class="exercise-item"
      [class.exercise-item-completed]="ejercicio.completado"
    >
      <ion-checkbox
        slot="start"
        [checked]="ejercicio.completado"
        (ionChange)="cambiarEstado($event, ejercicio.id)"
      >
      </ion-checkbox>

      <ion-label>
        <h3>{{ ejercicio.nombre }}</h3>
        <p>Repeticiones: {{ ejercicio.repeticiones }}</p>
        <p>Estado: {{ ejercicio.completado ? 'Realizado' : 'No realizado' }}</p>
      </ion-label>

      <ion-button
        slot="end"
        fill="clear"
        color="secondary"
        (click)="eliminarEjercicio(ejercicio.id)"
      >
        <ion-icon aria-hidden="true" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #sinEjercicios>
    <ion-card class="app-empty-card">
      <ion-card-header>
        <ion-card-title>No hay ejercicios</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Añade un ejercicio desde la pestaña "Añadir".
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
