<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rutinas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rutinas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text>
    <h2>Gestiona tus rutinas de ejercicio</h2>
    <p> Lista de ejercicios registrados en la rutina.</p>
  </ion-text>

  <ion-list>
    
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>
        <h3>Flexiones 1</h3>
        <p>Repeticiones: 14</p>
      </ion-label>
    </ion-item>

     <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>
        <h3>Sentadillas</h3>
        <p>Repeticiones: 20</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>
        <h3>Abdominales</h3>
        <p>Repeticiones: 25</p>
      </ion-label>
    </ion-item>

  </ion-list>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
